<div class="container">
  <div id="Header"style="text-align:center">
    <h2 class="display-3">
      Welcome to {{userName}}'s {{title}} for {{month}}/{{day}}/{{year}}:
    </h2>
    <h4 class="display-5">––{{subtitle}}––</h4>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./assets/img/tabouleh.jpg" alt="Tabouleh">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./assets/img/beef.jpg" alt="Salad">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./assets/img/meatballs.jpg" alt="Meatballs">
        </div>
      </div>
    </div>
  </div>
<!-- above is the headers and images -->
<!-- below is the bodytext and forms -->
  <div id="bodyText">
    <form class="w-25">
      <label for="userName">Alter user name</label>
      <input [(ngModel)]="userName" type="text" name="userName">
    </form>
    <table class="table">
      <!-- table that displays recipe data and holds the input forms -->
      <thead>
        <tr>
          <th>Recipe Category</th>
          <th>Recipe Name</th>
          <th>Cook Time</th>
          <th>Serves</th>
          <th>Stars</th>
          <th>Actions</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <!-- category one -->
        <tr *ngFor="let currentSoup of soups">
          <h5>{{soupTitle}}</h5>
          <td><a href="#">{{currentSoup.description}}</a></td>
          <td>{{currentSoup.prepTime}}</td>
          <td>{{currentSoup.servesNumber}}</td>
          <td
          [class]="starColor(currentSoup)">{{currentSoup.stars}}</td>
          <td>
            <button class="btn btn-light" (click)="editSoup(currentSoup)">Update This Item</button>
          </td>
        </tr>
        <tr *ngIf="selectedSoup" class="editRecipes">
          <td><label>{{currentSoup.soupTitle}}</label></td>
          <td class="form-group">
            <label>Edit name</label>
            <input [(ngModel)]="selectedSoup.description" class="w-100 form-control" type="text" name="name">
          </td>
          <td class="form-grotup">
            <label>Edit prep time</label>
            <input [(ngModel)]="selectedSoup.prepTime" class="w-100 form-control" type="text" name="prep">
          </td>
          <td class="form-group">
            <label>Edit serves</label>
            <input [(ngModel)]="selectedSoup.servesNumber" class="w-100 form-control" type="text" name="serves">
          </td>
          <td class="form-group">
            <label>Edit star rating</label>
            <input class="form-control" type="text" name="stars">
          </td>
          <td><br><button class="btn btn-light"(click)="finishedEditingSoup">Done</button></td>
        </tr>
        <br>
        <!-- category two -->
        <tr *ngFor="let currentMeat of meats">
          <h5>{{meatTitle}}</h5>
          <td><a href="#">{{currentMeat.description}}</a></td>
          <td>{{currentMeat.prepTime}}</td>
          <td>{{currentMeat.servesNumber}}</td>
          <td
          [class]="starColor(currentMeat)">{{currentMeat.stars}}</td>
          <td>
            <button class="btn btn-light" (click)="editMeat(currentMeat)">Update This Item</button>
          </td>
        </tr>
        <tr *ngIf="selectedMeat" class="editRecipes">
          <td>{{currentMeat.meatTitle}}</td>
          <td class="form-group">
            <label>Edit name</label>
            <input [(ngModel)]="selectedMeat.description" class="w-100 form-control" type="text" name="name">
          </td>
          <td class="form-group">
            <label>Edit prep time</label>
            <input [(ngModel)]="selectedMeat.prepTime" class="w-100 form-control" type="text" name="prep">
          </td>
          <td class="form-group">
            <label>Edit serves</label>
            <input [(ngModel)]="selectedMeat.servesNumber" class="w-100 form-control" type="text" name="serves">
          </td>
          <td class="form-group">
            <label>Edit star rating</label>
            <input [(ngModel)]="selectedMeat.stars" class="w-100 form-control" type="text" name="stars">
          </td>
          <td><br><button class="btn btn-light"(click)="finishedEditingMeat">Done</button></td>
        </tr>
        <br>
        <!-- category three -->
        <tr *ngFor="let currentSalad of salads">
          <h5>{{saladTitle}}</h5>
          <td><a href="#">{{currentSalad.description}}</a></td>
          <td>{{currentSalad.prepTime}}</td>
          <td>{{currentSalad.servesNumber}}</td>
          <td [class]="starColor(currentSalad)">{{currentSalad.stars}}</td>
          <td>
            <button class="btn btn-light" (click)="editSalad(currentSalad)">Update This Item</button>
          </td>
        </tr>
        <tr *ngIf="selectedSalad" class="editRecipes">
          <td>{{currentSalad.saladTitle}}</td>
          <td class="form-group">
            <label>Edit recipe name</label>
            <input [(ngModel)]="selectedSalad.description" class="w-100 form-control" type="text" name="name">
          </td>
          <td class="form-group">
            <label>Edit prep time</label>
            <input [(ngModel)]="selectedSalad.prepTime" class="w-100 form-control" type="text" name="prep">
          </td>
          <td class="form-group">
            <label>Edit serves</label>
            <input [(ngModel)]="selectedSalad.servesNumber" class="w-100 form-control" type="text" name="serves">
          </td>
          <td class="form-group">
            <label>Edit star rating</label>
            <input [(ngModel)]="selectedSalad.stars" class="w-100 form-control" type="text" name="stars">
          </td>
          <td><br><button class="btn btn-light"(click)="finishedEditingSalad">Done</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- below is the footer div -->
  <div class="footer">
    <p>© Andrew Lupton, 2018</p>
  </div>
</div>
